:root {
  --primary: #80DEEA;
  --secondary: #8c38ff;
  --dark: #131a26;
  --light: #eee;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--light);
}

.title {
  padding: 50px;
  font-size: x-large;
  color: var(--dark);
  font-family: "Dela Gothic One";
}

.landing{
  padding: 50px;
  font-weight: 100;
  font-size: 14px;
  color: var(--dark);
  font-family: "Dela Gothic One";
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.calculator {
  width: 100%;
  max-width: 400px;
  border-radius: 16px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0px 2px 64px rgba(0, 0, 0, 0.2);
}

.display {
  padding: 16px;
  text-align: right;
  background-color: var(--dark);
  color: var(--light);
  font-size: 24px;
  font-weight: 300;
}
.display span {
  font-size: 16px;
  color: #888;
}

button {
  appearance: none;
  border: none;
  outline: none;
  padding: 16px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: 0.6s;
}

button:hover {
  opacity: 0.8;
}

.operators {
  display: flex;
}

.operators button {
  flex: 0%;
  background-color: var(--primary);
  font-weight: 500;
}

.digit {
  display: flex;
  flex-wrap: wrap;
}

.digit button {
  flex: 30%;
  background-color: var(--dark);
  max-width: 33.333%;
}
